 /* Dark classic blue (#0A1828) turquoise (#178582), gold (#BFA181) */

.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* background-color: #0A1828; */
    background: linear-gradient(90deg, #292e4d 10% ,  #10161e 50%, #0A1828 90%);
    color: #cdb499;
    width:100vw;
    height:3.8rem;
    border:0.5px solid #4A4E69;
    padding:0rem 1.5rem;
    position:absolute;
    top:0px;
    /* position:sticky;
    z-index:100 ; */
}

.nav-links{
    display:flex;
    justify-content: space-evenly;
    width:60vw;
}

.nav-link{
    outline:none;
    color: #cdb499;
    text-decoration: none;
}

.nav-link:hover{
    color: #F2E9E4;
    cursor: pointer;
}

.logo{
    font-weight: 500 ;
    padding-left:20px;
    font-size:1.5rem;
    width:0;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 2px solid #fff;    cursor effect */  
    animation: logoTyping 5s ease-in infinite normal ;

}

@keyframes logoTyping 
{
    0%{
        width:0;
    }
    50%{
        width:12ch;
    }
    100%{
        width:0;
    }
}

.menu{
    font-size:1.3rem;
    cursor:pointer;
    display:none;
}

@media (max-width:768px)
{
    .menu
    {
        display:block;
    }

    .nav-links
    {
        display: none;               /* Hide links by default */
    }

    .nav-linksActive
    {
        display: flex;      
        flex-direction: column;
        position: absolute;
        top: 3.8rem;
        right: 0rem;
        background: linear-gradient(135deg, #4A4E69 0% , #181a2c 50%  , #121321 80%);
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        border-radius: 5px ;
        /* background-color: #4A4E69; */
        width: 28%;
        gap: 1.5rem;
        padding: 1rem;
        text-align: center;
    }
}





